/* You can add global styles to this file, and also import other style files */
footer {
  /*Se coloca en relación con la ventana, lo que significa que siempre permanece en el mismo lugar, incluso si se
    hace scroll a la pagina */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
}

footer p {
  color: white;
}